.profile__desc {
  margin: 0;
  padding: 0;
  max-width: 336px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 30px;
}

@media screen and (max-width: 710px) {
  .profile__desc {
    max-width: 282px;
    font-size: 14px;
    line-height: 10px;
    margin-bottom: 33px;
    text-align: center;
    margin-left: 0;
  }
}
