.popup__input {
  margin: 0;
  padding: 0;
  max-width: 358px;
  font-size: 14px;
  line-height: 15px;
  font-weight: 400;
  color: #000;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 11px;
}

@media screen and (max-width: 560px) {
  .popup__input {
    max-width: 238px;
  }
}
