.profile__add-btn {
  margin-left: auto;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  background: inherit;
  background-image: url(../../../images/add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  cursor: pointer;
}

.profile__add-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 710px) {
  .profile__add-btn { 
    margin: 0;
    padding: 0;
    width: 282px;
    background-size: 16px 16px;
  }
}
