.elements__img {
  display: block;
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

@media screen and (max-width: 1000px) {
  .elements__img { 
    width: 100%;
  }
}
