.popup__form-edit {
  display: grid;
  width: 358px;
  position: relative;
}

@media screen and (max-width: 560px) {
  .popup__form-edit {
    display: flex;
    flex-direction: column;
    width: 238px;
    
  }
}
