.popup__second-line {
  margin: 0;
  width: 358px;
  margin-bottom: 48px;
  opacity: 0.5;
}

@media screen and (max-width: 560px) {
  .popup__second-line {
    width: 238px;
    margin-bottom: 45px;
  }
}
